.navbar,
#ft {
  display: none;
}
.storageAreaBar {
  margin: 1em 0;
  padding: 1em;
  position: relative;
  text-align: left;
  border: 1px solid #D4D4D4;
  border-radius: .25em;
  background: #FAFAFA;
  background-image: -moz-linear-gradient(top, white, #F2F2F2);
  background-image: -webkit-linear-gradient(top, white, #F2F2F2);
  background-image: -o-linear-gradient(top, white, #F2F2F2);
  background-image: -ms-linear-gradient(top, white, #F2F2F2);
  background-image: linear-gradient(top, white, #F2F2F2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.storageAreaBar h1 {
  font-size: 4em;
  line-height: 1;
  margin: 0 2.5em 0 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: 0 1px 3px #999;
}
.storageAreaBar .btn {
  position: absolute;
  margin-top: 0;
  top: .25em;
  right: .25em;
  font-size: 3.5em;
  line-height: 1;
  width: 2em;
}
.storageAreaBar .action-focus {
  right: 2.5em;
}
.storageAreaBar .action-focus img {
  max-width: none;
  height: 40px;
  margin-top: 5px;
  vertical-align: top;
}
#map {
  overflow: scroll;
}
#map img {
  max-width: none;
}
.zoom #map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto!important;
  height: auto!important;
}
.zoom .action-focus {
  position: absolute;
  top: -1.25em;
  right: 0;
  z-index: 100;
}
#mapImgContainer .landmarks {
  position:absolute;
  z-index:10;
  top:0;
  left:0;
  font-size:12px;
  color: #ffffff;
}
#mapImgContainer .landmarks .item {
  position:absolute;
  text-align:center;
  display: none;
}
#mapImgContainer .landmarks .lable div {
  width: 100px;
  padding: 4px;
}
#mapImgContainer .landmarks .mark .text {
  background-color:#000000;
  padding:2px 6px;
}
