.control-group
  label.control-label(for='storageArea-name') Nazwa:
  input#storageArea-name.span6(name='name', type='text', value=storageArea.name, autofocus=true)
.form-actions
  input.btn.btn-primary(type='submit', value='Zapisz')
