extends ../page

prepend page-title
  | Usuwanie wózka -

block page-breadcrumbs
  li: a(href='/forklifts') Wózki
  li: a(href='/forklifts/#{forklift.id}')= forklift.name
  li Usuwanie

block content
  form#editForkliftForm(method='post', action='/forklifts/#{forklift.id}')
    input(name='_method', value='delete', type='hidden')
    p Czy na pewno chcesz usunąć wybrany wózek?
    .form-actions
      input.btn.btn-primary(type='submit', value='Usuń')
