.control-group
  label.control-label(for='forklift-name') Nazwa:
  input#forklift-name.span6(name='name', type='text', value=forklift.name, autofocus=true)
.form-actions
  input.btn.btn-primary(type='submit', value='Zapisz')
